<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Blog Posts</h1>
<ul>
  {{#each posts}}
    <li>
      <h2>{{this.title}}</h2>
      <p>{{this.content}}</p>
      {{#if this.image}}
        <img src="/uploads/{{this.image}}" alt="{{this.title}}" style="max-width: 200px;">
      {{/if}}
      <a href="/posts/{{this.id}}/edit">Edit</a>
    </li>
  {{/each}}
</ul>
</body>
</html>